<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/books/shelf">Better Book Keeper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <form class="form-inline my-2 my-lg-0 navbar-text">
          <%= link_to "Home", shelf_books_path, :method => :get, :style => 'color:white;' %>
          <%= link_to "Search", search_books_path, :method => :get, :style => 'color:white;' %>
        </form>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <form class="form-inline my-2 my-lg-0">
        <%= link_to "Log out", destroy_user_session_path, :method => :delete, :style => 'color:white;' %>
      </form>
    <% else %>
      <form class="form-inline my-2 my-lg-0 navbar-text">
        <%= link_to "Log in", user_session_path, :method => :post, :style => 'color:white;' %>
        <%= link_to "Sign up", new_user_registration_path, :method => :get, :style => 'color:white;' %>
      </form>
    <% end %>
  </div>
</nav>
