<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="col-md-4 col-md-offset-4 m-5">
    <form>
      <div class="form-group row align-items-center">
        <div class="col-auto">
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder: 'Email address' %>
          </div>
        </div>
      </div>

      <div class="form-group row align-items-center">
        <div class="col-auto">
          <div class="field">
            <%= f.password_field :password, autocomplete: "current-password", class:'form-control', placeholder: 'Password' %>
          </div>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:'btn btn-dark' %>
      </div>
    </form>
  </div>
<% end %>
